.main_container {
  width: 100dvw;
  min-height: 100dvh;
  /* background-color: var(--bgColor); */
  background: rgb(35, 41, 70);
  background: linear-gradient(
    270deg,
    rgba(35, 41, 70, 1) 0%,
    rgba(38, 60, 164, 1) 51%,
    rgba(35, 41, 70, 1) 100%
  );
  text-align: center;
  padding: 2rem 4rem;
}
